<nav class="top-nav">
	<a href="index"><div id="mattress-buying-guide" class="inline">Mattress Buying Guide</div></a>
	<div id="mattress-basics" class="inline">MATTRESS<br>BASICS</div>
	<div id="mattress-accessories" class="inline">MATTRESS<br>ACCESSORIES</div>
	<div id="mattress-care" class="inline">MATTRESS<br>CARE &amp; MORE</div>
</nav>
<div class="nav-separator"></div>
<div class="nav-views" id="nav-mattress-basics" style="display:none">
	<ul>
		<li><a href="./most-comfortable-mattress">Most Comfortable Mattresses</a></li>
		<li><a href="./mattress-brands">Mattress Brands</a></li>
		<li><a href="./mattress-types">Mattress Types</a></li>
		<li><a href="./mattress-sizes">Mattress Sizes</a></li>
	</ul>
</div>
<div class="nav-views" id="nav-mattress-accessories" style="display:none">
	<ul>
		<li><a href="./mattress-foundation-types">Mattress Foundation Types</a></li>
		<li><a href="./best-mattress-topper-pad">Best Mattress Toppers &amp; Pads</a></li>
		<li><a href="./what-is-mattress-in-a-box">What is Mattress in a Box?</a></li>
	</ul>
</div>
<div class="nav-views" id="nav-mattress-care" style="display:none">
	<ul>
		<li><a href="./best-memory-foam-mattress">Best Memory Foam Mattress</a></li>
		<li><a href="./how-to-clean-care-mattress">How to Care for a Mattress</a></li>
	</ul>
</div> 
<div class="nav-bottom-line"></div>
