    <div id="mb-page-wrapper">
    <div id="HeaderContainer"></div>
    <section id="content">
        <div id="mw-region-main-inner">
            <div id="mb-j-navigation-container"></div>
            <div id="mb-j-main-content-container">
                <div id="mb-page-content-container"></div> 
                
               
            
    