<style>
ul#ui-id-1 {
    top: 93px !important;
    width: 100% !important;
    left: 0px !important;
}
</style>

<div id="mb-page-wrapper">
    <section id="mb-region-header" class="m-brandindex-search--is-hidden">
        <div id="mb-j-header-container">
            <div class="m-header-side">
                <div id="mb-j-nav-button" class="icon-selectedMenuButton" class="jmennu-up">
                    <i id="mb-j-nav-button-icon" class="mb-icon-unselectedMenuButton" style="margin:0px"></i>
                </div>
            </div>

            <div class="m-header-mid">
                <a class="m-j-cm-link" style="display: block" href={{mewServerAddress}}> <img
                    id="mb-j-header-image" src="https://assets.moovweb.net/macys/macys-prod/v81/images/mew2_images/logo_macys.svg">
                </a>
            </div>
            
            <div class="m-header-side">
                <div id="mb-bag-count-container" class="m-j-cm-manual-link"
                data-cm-manual-link="MEW_navigation-_-top_nav-_-bag">
                    <canvas id="m-bag-count" width="32" height="32" class="mc-bag-count"></canvas>
                    <a id="m-bag-count-anchor" href="{{mewUrl}}/bag/index.ognc?cm_sp=navigation_mew--top_nav--bag-n-n">
                        <img id="m-shopping-bag-image" src="https://assets.macys.com/dyn_img/creativepages/icon_bag_flat_white_flat.svg">
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>
