<div id="subscription-body">
        <div >
            <div class="row">
                <div class="small-16 large-4 medium-4 columns banner-spec">
                    <div class="monthly-box-logo">
                        <img src="https://assets.macysassets.com/dyn_img/site_ads/MACYSBEAUTYBOXLOGO_1288953.png" alt="Monthly Box Logo">
                    </div>
                </div>
              
            </div>
        
  
                <div class="small-16 text-center small-centered columns" id="beautyBoxVideo">
                    <div id="main-section">
                            <div id="video-container" >
                            <div class="helveticaneue video-text">WATCH THE VIDEO TO SEE</div>
                                <div class="caps htfdidot text-center font-size-high howit-text">HOW IT WORKS</div>
                                <h5 class="bb-sub helveticaneue">Everything's gorgeous when you subscribe to Macy's Beauty Box!</h5>
                                <div id="sub-video-section">
                                    <div class="bordered-section"></div>
                                    <div id="video-wrapper">
                                        <div id="subscriptionVideo">
                                            <video id="aboutVideo"
                                            	data-video-id="5383522566001"
                                                data-account="24953835001"
                                                data-player="er1Lf66yc"
                                                data-embed="default"
                                                data-application-id
                                                class="video-js"
                                                controls
                                                width="960"
                                                height="540"
                                            ></video>
                                            <script src="//players.brightcove.net/24953835001/r1Lf66yc_default/index.js"></script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
             
                

        <!--suppress JSAnnotator -->
        <script type="text/javascript">
        
                window.ASSETS_SERVER = 'https://assets.macysassets.com/dyn_img/site_ads/';
        
                window.subscriptionHistoryMonths = {"months":[{"selected":true,"label":"August  |  2017"}]};
        
                window.subscriptionHistoryPools = [{"year":2017,"month":8,"monthLabel":"August 2017","pools":[{"poolName":"BB_ROMANCE_COPY","contents":[{"contentID":"3954280","componentID":3954280,"fileName":"3954280.fpx","height":0,"width":0,"text":"This months box is all about best-in-class beauty essentials. Sample cult-classic skin care, get a perfect eye look & finish with a sexy designer fragrance.","description":"August-2017","contentGroupID":806467,"contentGroupType":"AD","contentType":"TEXT"}]},{"poolName":"BB_MONTHLY_PRODUCT","contents":[{"contentID":"3954273","componentID":3954273,"fileName":"319931CFD1_C7060646_0009_1289868.png","height":370,"width":500,"text":"","description":"August-2017","contentGroupID":806466,"contentGroupType":"AD","contentType":"IMAGE"}]},{"poolName":"BB_MONTHLY_THEME","contents":[{"contentID":"3947387","componentID":3947387,"fileName":"e7ebea_swatch_1285333.jpg","height":4,"width":4,"text":"The In Crowd ","description":"August-2017","contentGroupID":804217,"contentGroupType":"AD","contentType":"IMAGE"}]}]}];
        
                window.beautyboxCollage = true;
                    window.subscriptionPageId = 'Subscribe';
                    window.subscriptionCategoreyId ='Beauty Box Subscription';
        
                   window.BEAUTY_BOX_VIDEO_ENABLED =true;
                   window.BEAUTY_BOX_DROPDOWN_ENABLED =true;
        
                    window.deviceType = 'DESKTOP';
        
        </script>
        <script type="text/javascript">
            function cmCreatePageElementTag(elementID, elementCategory,attributes) {
                if (attributes){
                    var cm_exAttr=new Array;
                    cm_exAttr=attributes.split("-_-");
                }
                cmMakeTag(["tid","15","eid",elementID,"ecat",elementCategory,"pflg","0","cm_exAttr",cm_exAttr]);
            }
        </script>
        <style type="text/css">
        
        .beauty-box-common .cta.second-cta {
          background-image: url("https://assets.macysassets.com/wgl/feature/subscription-ui/latest/images/MarketingBannerBackground.jpg");
        }
        @media(max-width:600px) {
            .beauty-box-common .cta.second-cta {
              background-image: url("https://assets.macysassets.com/wgl/feature/subscription-ui/latest/images/MarketingMobileBackground.jpg");
            }
        }
        #beautyBoxOurBoxes #selectMonth {
            background-image: url("https://assets.macysassets.com/wgl/feature/subscription-ui/latest/images/dropdown_active.svg");
            background-position: 100% center;
            background-repeat:no-repeat;
        }
        #monthlybox .rating .stars {
            background: url("https://assets.macysassets.com/wgl/feature/subscription-ui/latest/images/star.svg") 0 0 repeat-x;
        }
        #monthlybox .rating .stars > div {
            background: url("https://assets.macysassets.com/wgl/feature/subscription-ui/latest/images/star.svg") 0 -28px repeat-x;
        }
        </style>
