<div id="Embed43" class="row" style="height: 700px;">
    <div class="row">
       <h4 class="section-header">Standard Embedded Video 4:3</h4>
        <p>Occassionally, a design has more of a square for the video than a rectangle. To accomodate these design requests, this is a more square 4:3 video player. It's good to note there will be visible black vertical or horizontal bars depending on the video's aspect ratio when filmed.</p>
        <h5>Standard Embeded Video 4:3 </h5>
           <div class="small-16 columns" style="margin-left: 25%; display:inline;">
           
            <div style="display: block; width: 480px; position:inline; text-align: center; margin: 0 auto; ">
                <iframe src="//players.brightcove.net/24953835001/ryW3hcFol_default/index.html?videoId=87266064001" allowfullscreen webkitallowfullscreen mozallowfullscreen style="width:  480px; height: 360px; position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px;"></iframe>
            </div>
     
</div>
    </div>


</div>