
<!-- fireworks -->

<div id="fireworks-container">
    <div class="video_holder">
        <video id="herovideo" autoplay preload="none" loop><source src="http://secure-netstorage.macys.com/social/fireworks/video/fireworks.mp4" type="video/mp4"/>
        </video>
       
    </div>
    
    
    
</div>


<div id="homePageContent">
    <div style="position:relative;width:960px; max-height:600px;">
        <div style="position:absolute; z-index:10;"> 
         <div class="row collapse" data-row-num="row_01">
	<div class="small-16 column" style="position:absolute;width:960px; height:570px;z-index:22;">
		<img src="https://www.macys.com/dyn_img/homepage/2016/07/03/07102016_HP_01.png" width="960" height="565" usemap="#20160703_map1" alt="July 4 sale. Get cant miss savings on picks you will love now. Extra 25 percent off clearance. Price shown reflects extra savings. Exclusions apply."/>
		<map name="20160703_map1" id="20160703_map1" data-row-num="row_01">
			<area shape="rect" coords="56,346,176,383" href="${baseUrl}/catalog/index.ognc?CategoryID=118&cm_re=2016.07.03-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%20118:women" alt="women"/>
			<area shape="rect" coords="199,346,323,382" href="${baseUrl}/catalog/index.ognc?CategoryID=1&cm_re=2016.07.03-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%201:men" alt="men"/>
			<area shape="rect" coords="489,345,611,382" href="${baseUrl}/catalog/index.ognc?CategoryID=22672&cm_re=2016.07.03-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%2022672:for the home" alt="for the home"/>
			<area shape="rect" coords="202,410,323,444" href="${baseUrl}/catalog/index.ognc?CategoryID=16904&cm_re=2016.07.03-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%2016904:juniors" alt="juniors"/>
			<area shape="rect" coords="347,345,468,382" href="${baseUrl}/catalog/index.ognc?CategoryID=13247&cm_re=2016.07.03-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%2013247:shoes" alt="shoes"/>
			<area shape="rect" coords="489,408,612,445" href="${baseUrl}/catalog/index.ognc?CategoryID=7495&cm_re=2016.07.03-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%207495:bed and bath" alt="bed and bath"/>
			<area shape="rect" coords="347,409,469,445" href="${baseUrl}/catalog/index.ognc?CategoryID=26846&cm_re=2016.07.03-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%2026846:handbags" alt="handbags"/>
			<area shape="rect" coords="58,407,178,444" href="${baseUrl}/catalog/index.ognc?CategoryID=5991&cm_re=2016.07.03-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%205991:kids" alt="kids"/>
			<area shape="rect" coords="635,408,756,444" href="${baseUrl}/catalog/index.ognc?CategoryID=7497&cm_re=2016.07.03-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%207497:kitchen" alt="kitchen"/>
			<area shape="rect" coords="780,344,901,380" href="${baseUrl}/catalog/index.ognc?CategoryID=544&cm_re=2016.07.03-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%20544:jewelry" alt="jewelry"/>
			<area shape="rect" coords="634,345,757,380" href="${baseUrl}/catalog/index.ognc?CategoryID=32147&cm_re=2016.07.03-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%2032147:plus sizes" alt="plus sizes"/>
			<area shape="rect" coords="779,407,902,443" href="${baseUrl}/catalog/index.ognc?CategoryID=29391&cm_re=2016.07.03-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%2029391:furniture" alt="furniture"/>
			<area shape="rect" coords="518,471,807,525" href="${baseUrl}/catalog/index.ognc?CategoryID=54698&cm_re=2016.07.03-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%2054698:clearance" alt="clearance"/>
		</map>
	</div>
</div>       

</div>

    </div>
</div>
<style>

	body{
        -ms-overflow-x:hidden;
    }
		#globalContentContainer {
		border: none !important;
        width:100%!important; 
         margin: 0 auto!important;
        background-color:transparent!important;
	}
	

	#homePageContent {
        width:960px;
        height:600px;
        background:none;
        margin: 0 auto;
        padding-bottom:12em;
	}
	
	#bd{
		width:100% !important;
        z-index: -100;
        margin: 0 auto;
        
}	
	 
.video_holder, .bg-holder, .video_holder video{
    height:auto; 
	width:100%;               
}

.video_holder{ 
    position:absolute;
    left:50%;
    transform:translateX(-50%) translateY(0);overflow:hidden;
}

#fireworks-container{
      width:100% !important;
  }

@media only screen and (max-width: 768px) {
	#bd {
		width:960px !important; 
	}
	.video_holder{
		width:100% !important;
        height:100%;
        position:relative;
		left: 0px;
    	/*top: 200px;*/
    	transform: none;
    }
}  
  
  
</style>