<style>


	#globalContentContainer {
		border: none !important;
	}

	.block_grid ul,
	.block_grid li {
		margin: 0px !important;
		padding: 0px !important;
	}

	#globalContentContainer [class^='small-block-grid-'] > li {
		width: auto !important;
	}
    .video_holder, .bg-holder, .video_holder video{
	    
		width:100%;
	}

	.row .row.collapse{
		position: relative;
    	z-index: 1;
	}

	.top-left-banner{
		position: absolute;
		z-index: -1;
		width: 550px;
		left: 0px;
	}

	.top-right-banner{
		position: absolute;
    	z-index: -1;
    	width: 400px;
    	right: 0px;
	}

	.fixed-top{
		position: fixed;
		top: 0;
	}

	.bottom-left-banner{
        position: absolute;
        z-index: 999;
        width: 400px;
        left: -250px;
        bottom: -100px;
    }

    .bottom-right-banner{
        position: absolute;
        z-index: 999;
        width: 400px;
        right: -250px;
        bottom: -100px;
    }

	p.dreamworksfooter{
	    margin: 0 auto;
	    text-align: center;
	}

	#video-container {
	      width:960px !important;
	       padding-top: 30px;
        min-height:540px;
        max-height:100%;
	  }

	@media only screen and (max-width: 768px) {
		#bd {
			width:960px !important;
            height:auto;
		}
		.video_holder{
			width:960px !important;
			left: 0px;
	    	/*top: 244px;*/
	    	transform: none;
	    }
	}
    
    .top-right-banner, .top-left-banner { opacity:.3;}
</style>

<!-- STICKY BANNER BEGIN -->

<div class="top-left-banner sticky">
	<img src="https://www.macys.com/dyn_img/homepage/2016/10/31/swing-left.png">
</div>
<div class="top-right-banner sticky">
	<img src="https://www.macys.com/dyn_img/homepage/2016/10/31/swing-right.png">
</div>
<!-- STICKY BANNER END -->
<div class="row collapse" data-row-num="row_01">
	<div class="small-16 column">
		<img src="https://www.macys.com/dyn_img/homepage/2016/10/31/C6100382_101_01.png" width="960" height="190" usemap="#20161031_map1" alt="25 percent to 60 percent off sitewide"/>
		<map name="20161031_map1" id="20161031_map1" data-row-num="row_01">
<area shape="rect" coords="74,81,195,111" href="${baseUrl}/catalog/index.ognc?CategoryID=118&cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%20118:women" alt="women"/>
			<area shape="rect" coords="211,81,334,111" href="${baseUrl}/catalog/index.ognc?CategoryID=1&cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%201:men" alt="men"/>
           <area shape="rect"  coords="348,80,471,112" href="${baseUrl}/catalog/index.ognc?CategoryID=13247&cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%2013247:shoes" alt="shoes"/>
			<area shape="rect"  coords="491,78,612,110" href="${baseUrl}/catalog/index.ognc?CategoryID=16904&cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%2016904:juniors" alt="juniors"/>
            <area shape="rect"  coords="628,80,750,111"  href="${baseUrl}/catalog/index.ognc?CategoryID=26846&cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%2026846:handbags" alt="handbags"/>
			<area shape="rect" coords="763,78,889,112"  href="${baseUrl}/catalog/index.ognc?CategoryID=32147&cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%2032147:plus sizes" alt="plus sizes"/>
            <area shape="rect" coords="75,130,195,160" href="${baseUrl}/catalog/index.ognc?CategoryID=5991&cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%205991:kids" alt="kids"/>
			<area shape="rect" coords="210,129,333,160" href="${baseUrl}/catalog/index.ognc?CategoryID=544&cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%20544:jewelry" alt="jewelry"/>
			<area shape="rect" coords="349,129,475,161" href="${baseUrl}/catalog/index.ognc?CategoryID=7497&cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%207497:kitchen" alt="kitchen"/>
			<area shape="rect" coords="492,129,611,160" href="${baseUrl}/catalog/index.ognc?CategoryID=7495&cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%207495:bed and bath" alt="bed and bath"/>
			<area shape="rect"  coords="628,129,748,164" href="${baseUrl}/catalog/index.ognc?CategoryID=22672&cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%22672:home" alt="home"/>
			<area shape="rect" coords="763,128,887,161" href="${baseUrl}/catalog/index.ognc?CategoryID=16908&cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_01-_-CATEGORY%20--%205125%20--%2016908:luggage" alt="luggage"/>
		</map>
	</div>
</div>
<!--Discover the magical world of trolls VIDEO -->
<div class="row collapse" data-row-num="row_02">
		<div class="small-16 column">
        <div id="video-container">
            	<img src="https://www.macys.com/dyn_img/homepage/2016/10/31/find-your-happy-place.png" usemap="#gethappy" alt="Dreamworks Trolls Find your happy place!"  width="960" style="position:absolute; left:1px;width:960px; z-index:10;top:-47;">
    <div class="video_holder">
        <video id="happyvideo" autoplay="" preload="none" loop=""><source src="https://www.macys.com/dyn_img/homepage/2016/10/31/troll-video-biggie.mp4" type="video/mp4">
        </video>
        <map name="gethappy" id="gethappy" data-row-num="row_02">
              <area shape="rect" coords="698,487,850,529"  href="http://social.macys.com/trolls/shop/?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_02-_-CATEGORY%20--%205125%20--%20:check it out#kids" alt="check it out" />
  <area shape="rect" coords="631,81,902,203" href="http://social.macys.com/trolls/shop/?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_02-_-CATEGORY%20--%205125%20--%20:dreamworks trolls#kids"  alt="dreamworks trolls" />
            <area shape="circle" coords="628,626,92" href="http://social.macys.com/trolls/?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_02-_-CATEGORY%20--%205125%20--%20:get happy" alt="get happy" />
        </map>
    </div>
</div>
</div>
</div>

<!--END Discover the magical world of trolls VIDEO -->
<div class="row collapse" data-row-num="row_03">
	<div class="small-16 column">
		<img src="https://www.macys.com/dyn_img/homepage/2016/10/31/dont-miss_03.png" width="960" height="65" alt="don&#39;t miss dreamworks trolls in theaters this friday!"/>
		<map name="20161031_map3" id="20161031_map3" data-row-num="row_03"></map>
	</div>
</div>
<div class="row collapse" data-row-num="row_04">
	<div class="small-16 column">
		<!-- Youtube TROLL VIDEO -->
    <iframe width="960" height="504" src="https://www.youtube.com/embed/xyjm5VQ11TQ?rel=0&start=0&end=217" frameborder="0" ></iframe>
	</div>
</div>
         <!-- END Youtube TROLL VIDEO -->
   <div class="row collapse" data-row-num="row_05">
	<div class="small-16 column">
		<img src="https://www.macys.com/dyn_img/homepage/2016/10/17_INTL/C6090605_101_05.jpg" width="960" height="49" usemap="#20161031_map5" alt="DreamWorks Trolls copyright 2016 DreamWorks Animation LLC. All Rights Reserved."/>
	</div>
</div>
<div class="row collapse" data-row-num="row_06">
	<div class="small-16 column">
		<img src="https://www.macys.com/dyn_img/homepage/2016/10/31/C6100382_101_06.png" width="960" height="53" alt="get happy and shop - it&#39;s halloween!"/>
		<map name="20161031_map5" id="20161031_map5" data-row-num="row_05"></map>
	</div>
</div>

<div class="row collapse" data-row-num="row_12">
    <div class="small-16 column">
        <div id="video-container">
            <img src="https://www.macys.com/dyn_img/homepage/2016/10/24/trolls-betsey-johnson.png" usemap="#gethappy" alt="Dreamworks Trolls Find your happy place!" height="830" width="960" style="position:absolute;top:-25px;width:960px; z-index:10;">
            <div class="video_holder">
                <video id="happyvideo" autoplay="" preload="none" loop=""><source src="https://www.macys.com/dyn_img/homepage/2016/10/24/trolls-shhh-bj.mp4" type="video/mp4">
        </video>

            </div>
        </div>
    </div>
</div>

<!--Discover the magical world of trolls VIDEO -->
<div class="row collapse" data-row-num="row_02">
		<div class="small-16 column">
        <div id="video-container">
            	<img src="https://www.macys.com/dyn_img/homepage/2016/10/31/find-your-happy-place.png" usemap="#gethappy" alt="Dreamworks Trolls Find your happy place!" height="830" width="960" style="position:absolute; top:-25px; right:490px; width:960px; z-index:10;">
    <div class="video_holder">
        <video id="happyvideo" autoplay="" preload="none" loop=""><source src="https://www.macys.com/dyn_img/homepage/2016/10/24/get-happy-2016.mp4" type="video/mp4">
        </video>
        <map name="gethappy" id="gethappy" data-row-num="row_02">
              <area shape="rect" coords="698,487,850,529"  href="http://social.macys.com/trolls/shop/?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_02-_-CATEGORY%20--%205125%20--%20:check it out#kids" alt="check it out" />
  <area shape="rect" coords="631,81,902,203" href="http://social.macys.com/trolls/shop/?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_02-_-CATEGORY%20--%205125%20--%20:dreamworks trolls#kids"  alt="dreamworks trolls" />
            <area shape="circle" coords="628,626,92" href="http://social.macys.com/trolls/?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_02-_-CATEGORY%20--%205125%20--%20:get happy" alt="get happy" />
        </map>
    </div>
</div>
</div>
</div>
<!--END Discover the magical world of trolls VIDEO -->
<div class="row collapse" data-row-num="row_15">
	<div class="small-16 column">
		<img src="https://www.macys.com/dyn_img/homepage/2016/10/17/C6090647_101_20.jpg" width="960" height="578" usemap="#20161031_map20" alt="only on mblog! justin timberlake gives us the exclusive scoop on the new William Rast collection and what it was like to work on Dreamworks Trolls."/>
		<map name="20161031_map20" id="20161031_map20" data-row-num="row_15">
			<area shape="rect" coords="274,368,687,415" href="http://mblog.macys.com/catching-up-with-music-movie-and-fashion-superstar-justin-timberlake/?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_15-_-CATEGORY%20--%205125%20--%20:only on mblog" alt="only on mblog!"/>
			<area shape="rect" coords="421,504,542,535" href="http://mblog.macys.com/catching-up-with-music-movie-and-fashion-superstar-justin-timberlake/?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_15-_-CATEGORY%20--%205125%20--%20:read it now" alt="read it now"/>
			<area shape="poly" coords="324,331,328,297,367,269,382,263,377,252,345,243,323,204,323,195,285,126,280,102,295,55,317,32,456,34,459,57,488,87,508,115,519,147,531,173,533,209,575,209,596,215,598,192,576,176,562,163,577,142,584,150,596,102,597,78,652,78,655,98,673,138,666,149,685,154,692,166,672,177,657,181,650,194,649,212,657,228,651,235,652,252,661,259,687,284,707,312,711,335" href="http://mblog.macys.com/catching-up-with-music-movie-and-fashion-superstar-justin-timberlake/?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_15-_-CATEGORY%20--%205125%20--%20:only on mblog" alt="only on mblog!"/>
		</map>
	</div>
</div>

<!-- BOTTOM BANNER BEGIN -->
<div class="trollsAlignment" style="position: relative;">
    <div id="scroll-barrier" class="bottom-left-banner">
        <img src="https://assets.macysassets.com/navapp/dyn_img/homepage/C6090647_101_bottom_left.png" style="width: 100%;">
    </div>

    <div class="bottom-right-banner">
        <img src="https://assets.macysassets.com/navapp/dyn_img/homepage/C6090647_101_bottom_right.png" style="width: 100%;">
    </div>
</div>
<div style="padding-top:30px;"></div>
<!-- BOTTOM BANNER END -->

<div class="row collapse block_grid" data-row-num="row_16">
	<ul class="small-block-grid-3"  >
		<li>
            <img src="https://www.macys.com/dyn_img/homepage/2016/10/31/C6100382_101_25-22.jpg" width="320" height="360" usemap="#20161031_map23" alt="say hello to plenti join for free start earning points today! plenti is a great way to get rewards at Macy's and lots of other places."/>
			<map name="20161031_map23" id="20161031_map23" data-row-num="row_16">
					<area shape="rect" coords="68,203,252,230" href="${baseUrl}/ce/splash/plenti/joinfree?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_16-_-CATEGORY%20--%205125%20--%20:join for free" alt="join for free"/>
				<area shape="rect" coords="121,281,198,303" href="${baseUrl}/ce/splash/plenti/joinfree?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_16-_-CATEGORY%20--%205125%20--%20:join now" alt="join now"/>
				<area shape="rect" coords="132,256,257,272" href="${baseUrl}/cms/slp/3/050415plentiexclusions?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_16-_-CATEGORY%20--%205125%20--%20:terms and conditions" alt="terms and conditions"/>
             
			</map>
		</li>
		<li>
			<img src="https://www.macys.com/dyn_img/homepage/2016/10/31/C6100382_101_26-23.jpg" width="320" height="360" usemap="#20161031_map22" alt="non your first app order get extra 25 percent off even on designers that rarely go on sale! download the macy's app and sign in or create an account."/>
			<map name="20161031_map22" id="20161031_map22" data-row-num="row_16">
                <area shape="rect" coords="142,255,255,273" href="${baseUrl}/cms/slp/3/092016AppDownloadpromo?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_16-_-CATEGORY%20--%205125%20--%20:exclusions and details" alt="exclusions and details"/>
						<area shape="rect" coords="108,24,219,174" href="${baseUrl}/ce/splash/enhance-app/index?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_16-_-CATEGORY%20--%205125%20--%20:the macys app" alt="the macy's app"/>
				<area shape="rect" coords="52,283,155,302" href="${baseUrl}/ce/splash/enhance-app/index?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_16-_-CATEGORY%20--%205125%20--%20:check it out" alt="check it out"/>
				<area shape="rect" coords="166,283,196,301" href="http://appdownload.macys.com/1821042908?pid=desktop_banner&c=mhp_swts_banner&af_sub1=site_banners&af_web_dp=http://itunes.apple.com/us/app/macys-ishop/id341036067?mt=8&cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_16-_-CATEGORY%20--%205125%20--%20:ios" target="_blank" alt="ios"/>
				<area shape="rect" coords="201,283,274,300" href="http://appdownload.macys.com/1821042908?pid=desktop_banner&c=mhp_swts_banner&af_sub1=site_banners&af_web_dp=http://play.google.com/store/apps/details?id=com.macys.android&cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_16-_-CATEGORY%20--%205125%20--%20:android" target="_blank" alt="android"/>
                    <area shape="rect" coords="34,204,286,230" href="${baseUrl}/ce/splash/enhance-app/index?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_16-_-CATEGORY%20--%205125%20--%20:extra 25 percent off" alt="get extra 25 percent off"/>
			</map>
		</li>
    
		<li>
			<img src="https://www.macys.com/dyn_img/homepage/2016/10/31/C6100382_101_29.jpg" width="320" height="360" alt="shop macys. holiday gift guide. pick out gifts for all your loved ones today!" usemap="#20161031_map21"/>
			<map name="20161031_map21" id="20161031_map21" data-row-num="row_16">
  <area shape="rect" coords="47,203,293,228" href="http://social.macys.com/holidaygiftguide?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_16-_-CATEGORY%20--%205125%20--%20:holiday gift guide" alt="holiday gift guide" />
  <area shape="rect" coords="109,243,234,283" href="http://social.macys.com/holidaygiftguide?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_16-_-CATEGORY%20--%205125%20--%20:shop now" alt="shop now" />
                <area shape="circle" coords="172,100,75"  href="http://social.macys.com/holidaygiftguide?cm_re=2016.10.31-_-HOMEPAGE_INCLUDE_1_row_16-_-CATEGORY%20--%205125%20--%20:holiday gift guide" alt="holiday gift guide" />
            </map>
		</li>
	</ul>
</div>