        <div class="row">
            <div class="medium-16 columns medium-centered show-for-medium-up">
                <!-- <div id="panorama"></div> -->
                <iframe width="853" height="480" src="https://www.youtube.com/embed/VEqYBNyMpZ4?controls=0&loop=1&autoplay=1&rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="small-16 columns small-centered hide-for-medium-up">
                <div id="panorama"></div>
            </div>
        </div>